<h3>Sign up for an account</h3>

<!-- Sign up failure messages -->
<ul>{{#each messages}}
    <li>{{this}}</li>
{{/each}}
</ul>

<form action="/auth/signup" method="POST">
    <label for="username">Username <input type="text" name="username" required></label>
    <label for="password">Password <input type="password" name="password" id="password" onkeyup="check_pass()" required></label>
    <label for="confirm_password">Confirm Password <input type="password" name="confirm_password" id="confirm_password" onkeyup="check_pass()" required> <span id="message"></span></label>
    <label for="email">Email <input type="email" name="email" required></label>
    <input type="submit" id='submit' value="Sign up" disabled>
</form>

<script src="/javascripts/signup.js"></script>
