{{#if user}}
    <a href="/">Main</a><p style="text-align: right">Welcome <a href="/user/users/{{user.username}}">{{user.username}}</a> <a href="/auth/logout">Logout</a></p>

{{else}}
    <p style="text-align: right"><a href="/auth/login">Login</a> <a href="/auth/signup">Sign up</a></p>

{{/if}}
<hr>