
    <div id="search-div">
        <form action="/main" method="POST">
            <span id="site-span">
                <select name="site">
                    <option value="" selected disabled hidden>Choose Site</option>
                    <option value="allrecipes">Allrecipes</option>
                </select>
            </span>
            <span id="keyword-span">
                <input id='keyword' type="text" name="keyword" placeholder="Enter a recipe name"/>
            </span>
            <input id='search-button' type="submit" value="Search"/>
        </form>
    </div>




