
    <div id="search-div">
        <form id='external-recipe-search-form' action="/external-recipes" method="POST">
            <span id="site-span">
                <select id='site' name="site">
                    <option value="" selected disabled hidden>Choose Site</option>
                    <option value="allrecipes">Allrecipes</option>
                </select>
            </span>
            <span id="keyword-span">
                <input id='keyword' type="text" name="keyword" placeholder="Enter a recipe name"/>
            </span>
            <input id='search-button' type="submit" value="Search"/>
        </form>
    </div>

    <!--&lt;!&ndash;<div id="display">&ndash;&gt;-->
        <!--&lt;!&ndash;<object id="external-recipe-site" type="text/html" data="http://allrecipes.com" width="100%" height="600px" style="overflow:auto;border:1px ridge black">&ndash;&gt;-->
        <!--&lt;!&ndash;</object>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<iframe id='external-recipe-site' src="https://www.allrecipes.com/search/results/?wt=pasta&sort=re/"-->
            <!--width="100%" height="500" frameborder="0"-->
            <!--allowfullscreen sandbox onLoad="console.log(document.getElementById('external-recipe-site').src)">-->
    <!--</iframe>-->
    <!--<span id="recipe-url">1</span>-->

<!--<script>-->

    <!--$(function(){-->

        <!--$('#external-recipe-search-form').on('submit', function() {-->
        	<!--alert('test');-->
            <!--var site = $('#site').val();-->
            <!--var formAction = $('#external-recipe-search-form').attr('action');-->
            <!--$('#external-recipe-search-form').attr('action', formAction + site);-->
        <!--});-->

    <!--});-->

<!--</script>-->


