body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*#search-div {*/
  /*display: inline-block;*/
/*}*/
#keyword {
  width: 100%;
}

#keyword-span {

  /*overflow: hidden;*/
  padding-right:10px;
  padding-left: 10px;
}
#search-button{
  float: right;
  width: 15%;
  margin: 5px
}
#site-span{
  float: left;
  width: 20%;
  margin: 5px;
}

.search-header {
  color: #338618;
}

#print-header {
    display: none;
}

@media print {
    body * {
        visibility: hidden;
    }
    #recipe-area, #recipe-area * {
        visibility: visible;
    }
    #recipe-area {
        position: absolute;
        left: 0;
        top: 0;
    }

    #print-header {
        display: block;
    }

}