body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*#search-div {*/
  /*display: inline-block;*/
/*}*/
#keyword {
  width: 100%;
}

#keyword-span {

  /*overflow: hidden;*/
  padding-right:10px;
  padding-left: 10px;
}
#search-button{
  float: right;
  width: 15%;
  margin: 5px
}
#site-span{
  float: left;
  width: 20%;
  margin: 5px;
}

.search-header {
  color: #338618;
}

#print-header {
    display: none;
}

@media print {
    body * {
        visibility: hidden;
    }

    #recipe-area, #recipe-area * {
        visibility: visible;
    }
    #recipe-area {
        position: absolute;
        left: 0;
        top: 0;
    }

    #print-header {
        display: block;
    }
}

img {
    max-width: 400px;
    max-height: 400px;
}

.topnav {
    overflow: hidden;
    background-color: #338618;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.topnav a:hover, .dropdown:hover, .dropbtn:hover , .dropbtn:focus {
    background-color: #ddd;
    color: #338618;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.dropdown {
    float: right;
    overflow: hidden;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}